# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
debug*
bd-reminder-bot*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# User config and DB
config.toml
bolt.db

# Unneeded files and folders
.vscode
vendor
.DS_Store
coverage.txt
